*{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    font-family: sans-serif;
}

hr{
    width: 75%;
}



table{
    border: 1px solid black;
}

#submissionForm tr, th, td{
    padding:0.2rem;
}

#transactionTable td{
    padding:0.5rem;
    width: 7.5rem;
    text-align: center;
}

#exampleRow{
font-style: italic;
background-color: lightgrey;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional: Add spacing from the top */
}
